@model Prueba_Tecnica_Junior.ViewModels.UsuarioVm;
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Registrarse</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/Login.css" asp-append-version="true" />
</head>
<body>
    <div class="card-header">
        Registrate
    </div>
    <section class="vh-100">
        <div class="container-fluid h-custom">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-md-9 col-lg-6 col-xl-5">
                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
                         class="img-fluid" alt="Sample image">
                </div>
                <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                    <form asp-controller="Usuario" asp-action="Registro" method="post">

                        <!-- Email input -->
                        <div data-mdb-input-init class="form-outline mb-4">
                            <input class="form-control form-control-lg" type="text" id="UsuarioLogin"
                                   placeholder="Digita tu Usuario" asp-for="Usuarios" required />
                            <label class="form-label" for="UsuarioLogin">Usuario</label>
                        </div>

                        <!-- Password input -->
                        <div data-mdb-input-init class="form-outline mb-3">
                            <input class="form-control form-control-lg" type="password" id="ContraseñaLogin"
                                   placeholder="Digita tu contraseña" asp-for="Contraseña" required />
                            <label class="form-label" for="ContraseñaLogin">Contraseña</label>
                        </div>
                        <div data-mdb-input-init class="form-outline mb-3">
                            <input class="form-control form-control-lg" type="password" id="ConfirmarContraseñaLogin"
                                   placeholder="Confirma tu contraseña" asp-for="ConfirmarContraseña" required />
                            <label class="form-label" for="ContraseñaLogin"> Confirmar Contraseña</label>
                        </div>
                        <!-- Fecha input -->
                        <div data-mdb-input-init class="form-outline mb-3">
                            <input class="form-control form-control-lg" type="date" id="FechaCreacion"
                                   placeholder="dd/MM/aaaa" asp-for="Fecha_Creacion" required />
                            <label class="form-label" for="ContraseñaLogin">Fecha de creación</label>
                        </div>

                        <div class="text-center text-lg-start mt-4 pt-2">
                            <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-lg"
                                    style="padding-left: 2.5rem; padding-right: 2.5rem;">
                                Registrate
                            </button>

                            @if (ViewData["Mensaje"] != null)
                            {
                                <div class="form-group">
                                    <div class=" alert alert-danger" role="alert">
                                        @ViewData["Mensaje"]
                                    </div>
                                </div>
                            }
                            <p class="small fw-bold mt-2 pt-1 mb-0">
                                ¿Ya tienes una cuenta? <a href="@Url.Action("Login","Usuario")"
                                                          class="link-danger">Iniciar Sesion</a>
                            </p>
                        </div>

                    </form>
                </div>
            </div>
        </div>
        <div class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-4 px-4 px-xl-5 bg-primary">
            <!-- Copyright -->
            <div class="text-white mb-3 mb-md-0">
                Camilo Gonzalez Prueba tecnica.
            </div>
        </div>
    </section>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>

